.image-container {
  position: relative;
  display: inline-block; /* Ensures the container only takes the size of the image */
}

.landingPageDroneGif {
  width: 99vw;
  height: auto;
  opacity: 0.88;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 73%, rgba(0, 0, 0, 0.5) 87%, rgba(0, 0, 0, 0) 100%);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Oxanium", serif;
  font-weight: 300;
  left: 31%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Perfect centering */
  position: absolute;
  top: 50%; /* Adjust to vertically center the text */
  margin-left: 0; /* Adjust this value for desired alignment */
  margin: 0 auto;
  text-align: left; /* Ensure left alignment */
  max-width: 1200px; /* Optional: Limit width for better readability */
}

.dash {
  padding-left: 30px; /* Adds space to the left to accommodate the bullet */
  margin-left: 0;
}

.overlay-heading {
  text-align: left;
  color: white; /* Text color */
  font-size: 65px; /* Adjust size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Makes the text readable on any background */
  font-weight: bold; /* Optional for better visibility */
  text-align: left; /* Center-align the text */
  font-weight: 250;
}

.dash > li {
  list-style-type: "━" 
}

.dash li::marker {
  color: #B04D23; /* Match your theme color */
}

.overlay-intro {
  text-align: left !important;
  color: white; /* Text color */
  font-size: 24px; /* Adjust size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Makes the text readable on any background */
  font-weight: bold; /* Optional for better visibility */
  text-align: center; /* Center-align the text */
  font-weight: 150;
  padding-left: 15px;
}

.overlay-outro {
  text-align: left !important;
  color: white; /* Text color */
  font-size: 24px; /* Adjust size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Makes the text readable on any background */
  font-weight: bold; /* Optional for better visibility */
  text-align: center; /* Center-align the text */
  font-weight: 150;
  padding: 0;
  width: 750px;
}
